<h1>Animations</h1>

<div class="page">

  <div class="controls">
    <button md-raised-button color="primary" (click)="add()">Add</button>
    <button md-raised-button color="primary" (click)="reset()">Reset</button>
  </div>

  <div class="beers">
    <div class="beer" *ngFor="let beer of beers; let $index = index">
      <button md-raised-button color="primary" (click)="remove($index)">Remove</button>
      <img src="{{beer.image_url}}" alt="a picture of beer or something">
      <div class="about">
        <div class="name">{{ beer.name }}</div>
        <div class="tagline">{{ beer.tagline }}</div>
      </div>
    </div>
  </div>

</div>
